body{
  font-family: Arial;
  margin:0;
}

.header{
  background:black;
  color:white;
  text-align:center;
  padding:30px;
}

.navbar{
  display:flex;
  justify-content:center;
  gap:30px;
  background:#333;
  padding:15px;
}

.navbar a{
  color:white;
  text-decoration:none;
}

.hero{
  text-align:center;
  padding:80px;
  background:lightgray;
}

.container{
  display:flex;
  gap:20px;
  padding:40px;
}

.card{
  background:#eee;
  padding:40px;
  flex:1;
  text-align:center;
}

.footer{
  text-align:center;
  background:black;
  color:white;
  padding:20px;
}
